<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item nav-item-sm">
    <a class="nav-link active" id="positiva-tab" data-toggle="pill" href="#pills-postiva" role="tab" aria-controls="pills-postiva"
      aria-selected="true">La Positiva</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="mapfre-tab" data-toggle="pill" href="#pills-mapfre" role="tab" aria-controls="pills-mapfre"
      aria-selected="false">Mapfre Perú</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="rimac-tab" data-toggle="pill" href="#pills-rimac" role="tab" aria-controls="pills-rimac"
      aria-selected="false">Rimac Seguros</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="hdi-tab" data-toggle="pill" href="#pills-hdi" role="tab" aria-controls="pills-hdi"
      aria-selected="false">HDI</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pacifico-tab" data-toggle="pill" href="#pills-pacifico" role="tab" aria-controls="pills-pacifico"
      aria-selected="false">Pacífico</a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade show active" id="pills-postiva" role="tabpanel" aria-labelledby="positiva-tab">
    <div class="row form-group">
      <label class="col-sm-2 col-form-label col-form-label-sm">Riesgo</label>
      <div class="col-sm-4">
        <select class="form-control form-control-sm">
          <option value="">-- Seleccione --</option>
          <option value="1">Bajo riesgo</option>
          <option value="2">Mediano riesgo</option>
        </select>
      </div>
      <label class="col-sm-2 col-form-label col-form-label-sm">Servicio de taxi</label>
      <div class="col-sm-4">
        <select class="form-control form-control-sm">
          <option value="">-- Seleccione --</option>
          <option value="1">No habilitado</option>
          <option value="2">Bajo riesgo</option>
        </select>
      </div>
    </div>
    <div class="row form-group">
      <label class="col-sm-2 col-form-label col-form-label-sm">Requiere GPS</label>
      <div class="col-sm-4">
        <input type="text" class="form-control form-control-sm" placeholder="Años del servicio GPS">
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="pills-mapfre" role="tabpanel" aria-labelledby="mapfre-tab">
    <div class="row form-group">
      <label class="col-sm-2 col-form-label col-form-label-sm">Riesgo</label>
      <div class="col-sm-4">
        <select class="form-control form-control-sm">
          <option value="">-- Seleccione --</option>
          <option value="1">Bajo riesgo</option>
          <option value="2">Mediano riesgo</option>
        </select>
      </div>
      <label class="col-sm-2 col-form-label col-form-label-sm">Servicio de taxi</label>
      <div class="col-sm-4">
        <select class="form-control form-control-sm">
          <option value="">-- Seleccione --</option>
          <option value="1">No habilitado</option>
          <option value="2">Bajo riesgo</option>
        </select>
      </div>
    </div>
    <div class="row form-group">
      <label class="col-sm-2 col-form-label col-form-label-sm">Requiere GPS</label>
      <div class="col-sm-4">
        <input type="text" class="form-control form-control-sm" placeholder="Años del servicio GPS">
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="pills-rimac" role="tabpanel" aria-labelledby="rimac-tab">
    <div class="row form-group">
      <label class="col-sm-2 col-form-label col-form-label-sm">Riesgo</label>
      <div class="col-sm-4">
        <select class="form-control form-control-sm">
          <option value="">-- Seleccione --</option>
          <option value="1">Bajo riesgo</option>
          <option value="2">Mediano riesgo</option>
        </select>
      </div>
      <label class="col-sm-2 col-form-label col-form-label-sm">Servicio de taxi</label>
      <div class="col-sm-4">
        <select class="form-control form-control-sm">
          <option value="">-- Seleccione --</option>
          <option value="1">No habilitado</option>
          <option value="2">Bajo riesgo</option>
        </select>
      </div>
    </div>
    <div class="row form-group">
      <label class="col-sm-2 col-form-label col-form-label-sm">Requiere GPS</label>
      <div class="col-sm-4">
        <input type="text" class="form-control form-control-sm" placeholder="Años del servicio GPS">
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="pills-hdi" role="tabpanel" aria-labelledby="hdi-tab">
    <div class="row form-group">
      <label class="col-sm-2 col-form-label col-form-label-sm">Riesgo</label>
      <div class="col-sm-4">
        <select class="form-control form-control-sm">
          <option value="">-- Seleccione --</option>
          <option value="1">Bajo riesgo</option>
          <option value="2">Mediano riesgo</option>
        </select>
      </div>
      <div class="col-sm-6">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="gpsCheck">
          <label class="form-check-label" for="gpsCheck">Requiere GPS</label>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="pills-pacifico" role="tabpanel" aria-labelledby="pacifico-tab">
    <div class="row form-group">
      <label class="col-sm-2 col-form-label col-form-label-sm">Riesgo</label>
      <div class="col-sm-4">
        <select class="form-control form-control-sm">
          <option value="">-- Seleccione --</option>
          <option value="1">Bajo riesgo</option>
          <option value="2">Mediano riesgo</option>
        </select>
      </div>
      <div class="col-sm-6">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="gpsCheck">
          <label class="form-check-label" for="gpsCheck">Requiere GPS</label>
        </div>
      </div>
    </div>
  </div>
</div>